*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

body{
	background: #e6e6e6;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	padding:40px 300px;
}

.container{
	position: relative;
	min-height: 600px;
	padding: 20px;
	background-color: #dfe4e7 ;
	display: grid;
	grid-template-columns: 1fr 2fr;
	box-shadow: 0 0 8px gray;
	border-radius: 2px;

}


/******************left side *****************************/

.left{
	position: relative;
	
}
.profile{
	padding-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
    background-color: #febd68;
}

.profile-img{
	background-image: url("profile.jpg");
	height: 170px;
	width: 170px;
	border-radius: 50%;
	object-fit: cover;
}

.profile-name {
	padding-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
}
.profile-name h2{
	font-size: 1.2rem;
}
.profile-name p{
	padding-top: 4px;
	font-size: 1rem;
}

.profile-id{
	padding-top: 7px;
	padding-bottom: 14px;
	display: flex;
	color: white;
	font-size: 0.8rem;
}

.profile-2{
     background-color: #232f3e;
}

.border1{
	display: flex;
	flex-direction: column;
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: #232f3e;
	color: white;
}
.border1 h2{
	border-bottom: 2px solid gray;
	padding-bottom:7px;
	width: 79%;
	margin-bottom: 20px;
	margin-left:22px;
	font-size: 1.2rem;
}
.contact li{
	list-style: none;
}
.middle{
	margin-left: 45px;
	font-size: 0.85rem;
}

.progress{
	display: flex;
	flex-direction: column;
}


[id="file"]{
	margin-bottom: 10px;
}

.certificate li{
	list-style: none;
	margin-bottom: 6px;
}

/*******************right side **********************/

.right{
	position: relative;
	background-color:#bfcdd5;
	padding:10px 40px;
	}

.border2{
	margin-bottom: 20px;

}
.border2 h2{
	border-bottom: 2px solid darkgray;
	color: #122a2a;
	padding-bottom: 5px;
	margin-bottom: 15px;
	font-size: 1.6rem;
}
.border2 p{
	color: #483e3e;
	font-size: 0.9rem;
	line-height: 1.2rem;
	text-align: justify;
}

.work-exp .role{
	display: flex;
	justify-content: space-between;
	font-size: 0.8rem;
	margin-bottom: 4px;
 }

.role + h3{
	font-size: 1rem ;
	margin-bottom: 4px;
}

.role ~ p{
	margin-bottom: 5px;
}

.icon::before{
	font-family: "Font Awesome 6 Free";
	content: "\f2f5";
}

.icon{
	margin-left: -26px;
}

/**********************projects************************/
.projects h3, .projects h4{
	font-size: 1rem;
	margin-bottom: 5px;
}

.icon ~ p{
	margin-bottom: 6px;
}

.education h3, .education h4{
	font-size: 0.9rem;
	margin-bottom: 3px;
}
.education p{
	margin-bottom: 5px;
}


/*********************************************************       *media query          ********************************/

@media screen and (max-width:1024px){
	.container{
		display: grid;
		grid-template-columns: repeat(1,1fr);
	}

	.profile-id {
		display: block;
	}

	.role{
		display: flex;
		flex-direction: column;
	}
}
